# Python 3
__pycache__/
.mypy_cache/
.pytest_cache/
.cache/
.coverage*
cov_html/
cov.xml

# Virtual environments
venv/
.venv/

# Python Packaging
*.egg-info/
pip-wheel-metadata/w

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Environment
.venv/
.python-version
myenv.sh
.myenv

# Other Stuff
